* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #111;
}
:root {
    --main-blue: #1054F3;
    --main-dark: #111;
    --main-white: #fff;
    --main-gradient: linear-gradient(100.76deg, #A4F370 -4.06%, #5BC81A 113.23%);

    --page-count: 20;
    --page-scroll: 25;
    --underline: rgba(64, 64, 64, 0.4);
    --spine: #000;
    --cover: #1a1a1a;
    --bg: #4d4d4d;
    --insert: #d9d9d9;
    --page: #e6e6e6;
}

/*header*/

nav, ul {
    display: flex;
}
nav {
    justify-content: space-between;
    padding: 25px 0px;
    align-items: center;
    background-color: #111;
    width: min(50%, 1500px);
    margin: 0 auto;
    /*position: relative;*/
}
/*nav::before {
    content: "";
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 2px;
}*/
ul {
    list-style-type: none;
}
nav .main-list li a {
    padding: 10px 20px;
    text-decoration: none;
}
.close {
    padding: 15px 0;
    width: 100%;
    background-color: #111;
    margin: 0 auto;
    width: min(50%, 1500px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font: 300 18px "Plus Jakarta Sans", sans-serif;
    color: #fff;
    display: none;
}
.close-purchase {
    border-radius: 6px;
    background: transparent;
    font: 600 16px "Plus Jakarta Sans", sans-serif;
    color: #fcfcfc;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.06);
}
header {
    margin: 0 auto;
    width: 100%;
    font: 300 18px "Plus Jakarta Sans", sans-serif;
    color: #D0D1D6;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
/*header::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #414651;
    position: absolute;
    bottom: 0;
}*/

/*.line {
    display: block;
    margin: 0 auto;
    width: min(100%, 1500px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 3;
}*/

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    /*font-size: 23px;*/
    font-size: clamp(18px, 4vw, 23px);
    font-weight: 800;
    /*background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: #fff;
    position: relative;
    z-index: 3;
    font-family: "Fira Code", sans-serif;
    text-transform: uppercase;
}
.mobile-purchase  {
    border-radius: 12px;
    background: var(--main-gradient);
    border: none;
    outline: none;
    font: 700 20px "Plus Jakarta Sans", sans-serif;
    color: #111;
    padding: 15px 40px;
    text-decoration: none;
}
.socials {
    background-color: transparent;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    /*border: 1px solid #888B92;*/
    padding: 0;
}
.instagram {
    color: #1054F3;
}

.buttons ul {
    display: flex;
    column-gap: 32px
}
/*main*/
.introduction {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    gap: 30px;
    height: 50vh;
    position: relative;
    z-index: 3;
    /*background-color: rgba(17, 17, 17, 0.1);
    backdrop-filter: blur(10px);*/
}
.introduction::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: url("dot-grid.svg") center;
    z-index: -1;
    opacity: 0.35
}
.introduction h2 span {
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.introduction .point {
    width: 15px;
    height: 15px;
    background: var(--main-gradient);
    display: inline-block;
    border-radius: 50%;
    transform: translateX(-10px);
}
#background {
    height: 30vh;
    width: 100%;
    position: absolute;
    z-index: -999;
    inset: 0
}
.square {
    position: absolute;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.35) 0%, rgba(0, 0, 0, 0.3) 43.23%, rgba(0, 0, 0, 0.6) 100%),url("rectangle.png") no-repeat center/cover;
    /* Размер квадрата */
    width: 50px;
    height: 50px;
    /* Начальная позиция вне видимой области */
    top: -50px;
    /* Анимация движения вниз */
    animation: fallDown linear infinite;
  }
  
  /* Опциональные стили для улучшения внешнего вида */
  .square:hover {
    background-color: #feb47b;
  }
  
  @keyframes fallDown {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(65vh);
    }
  }

  
/*body::before {
    content: "";
    position: absolute;
    background: url("dot-grid.svg") no-repeat center/cover;
    height: 71vh;
    width: 100%;
    z-index: -1
}*/
.reviews {
    border-radius: 50px;
    background-color: #fff;
}
.reviews img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.introduction figure {
    display: flex;
    padding: 5px 10px;
    font: 600 30px "Raleway", sans-serif;
    color: #111;
    align-items: center;
    gap: 5px;
    position: relative;
}
.introduction figure::after {
    content: "";
    border: 16px solid transparent;
    border-top: 16px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, 100%);
}
.introduction img {
    object-fit: cover;
}
/*.introduction figure img + img {
    margin-left: -10px;
}
.introduction figcaption {
    margin-left: 16px;
}*/
.introduction figcaption p:nth-child(2) {
    font: 400 19px "Inter", sans-serif;
    color: #64748A
}
.introduction figcaption i {
    color: #FACC15
}
.stars {
    display: flex;
}
.stars span { 
    margin-left: 10px;
    display: block;
}
.introduction h2 {
    font: 700 clamp(30px, 4vw, 64px) "Raleway", sans-serif;
    color: #fff;
    width: min(100%, 1000px);
    text-align: center;
}
.introduction h3 {
    font: 300 18px/26px "Inter", sans-serif;
    color: #fff;
    width: min(100%, 1000px);
    text-align: center;
}
.buttons, .buttons-block {
    display: flex;
    gap: 15px;
}
/*.buttons-block-mobile {
    background-color: red;
}*/
.buttons-block-mobile {
    display: flex;
    width: 100%;
    gap: 5px;
}
.buttons-block, .buttons-block-mobile {
    flex-wrap: wrap;
    justify-content: center;
}
.buttons-block-mobile button {
    height: 55px;
    width: 40%;
    border-radius: 12px;
    background: var(--main-gradient);
    border: none;
    outline: none;
    font: 700 16px "Plus Jakarta Sans", sans-serif;
    color: #111;
}
.buttons-block-mobile {
    margin-left: -15px
}
.buttons-block button {
    height: 55px;
    border-radius: 12px;
    width: 210px;
    background: var(--main-gradient);
    border: none;
    outline: none;
    font: 700 16px "Plus Jakarta Sans", sans-serif;
    color: #111;
    position: relative;
}
.primary::before {
    content: "";
    height: 100%;
    width: 100%;
    inset: 0;
    background: var(--main-gradient);
    transform: scale(1.05);
    filter: blur(35px);
    position: absolute;
    z-index: -1;
    border-radius: 12px;
    opacity: 0.2
}
.buttons-block button:nth-child(2), .buttons-block-mobile button:nth-child(2) {
    background: #111;
    border: 1px solid #8991A9;
    color: #fff;
    font-weight: 500
}
.buttons-block button i {
    font-size: 20px;
    margin-left: 10px
}
.buttons-block button:nth-child(1) i {
    transform: rotate(-45deg);
}
.buttons-block button:nth-child(2) i {
    transform: rotate(45deg);
}
.value {
    font: 500 clamp(20px, 4vw, 26px) "Raleway", sans-serif;
    color: #fff;
    text-align: center;
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
}
.marque {
    height: 13vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    font: 500 18px "Plus Jakarta Sans", sans-serif;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
}
.marque-one {
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    padding: 0 15px;
}
.marque img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.marque span {
    display: flex;
    justify-content: left;
    gap: 10px;
}
.marque p {
    margin-top: 5px;
}
.marque span p {
    padding: 5px 15px 5px 5px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: start;
}
.marque span p::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 100px;
    /*border: 1px solid rgba(255, 255, 255, 0.2);*/
}
.marque span p:nth-child(1)::before {
    background: url("heart-solid.svg") no-repeat center;
}
.marque span p:nth-child(2)::before {
    background: url("eye-solid.svg") no-repeat center;
}
.marque-block p:nth-child(2) {
    font-size: 14px;
}
/*book section
.book-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}*/


.ebook {
    height: 100vh;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ebook-cover {
    transform: scale(0);
}
.ebook-label {
    font: 500 20px "Inter", sans-serif;
    color: #fff;
    position: absolute;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #D946EF;
}
.ebook-label:nth-child(1) {
    top: 15%
}
.ebook-label:nth-child(2) {
    top: 10%
}
.ebook-label:nth-child(3) {
    top: 5%
}
.ebook-label:nth-child(4) {
    top: 15%
}
.ebook-label::before {
    content: "";
    border: 16px solid transparent;
    border-top: 16px solid #D946EF;
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, 100%);
}
/*reasons section*/
.reasons {
    display: flex;
    justify-content: center;
    /*height: 1000px;*/
    flex-direction: column;
    align-items: center;
    gap: 25px;
    /*background-color: #fc0;*/
}
.heading {
    /*font: 600 48px "Raleway", sans-serif;*/
    color: #fff;
    width: min(100%, 1000px);
    text-align: center;
    font: 600 clamp(20px, 4vw, 48px) "Raleway", sans-serif;
}
.description {
    font: 300 clamp(14px, 4vw, 18px)/26px "Inter", sans-serif;
    color: #fff;
    width: min(100%, 800px);
    text-align: center;
}
.reasons-grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 300px);
    gap: 35px;
}
.reasons-grid span {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    position: relative;
    background-color: #141414;
    border-radius: 24px;
}
.reasons-grid img, .topic-list img {
    filter: invert(100%);
}
/*.reasons-grid span:nth-child(1) {
    border-radius: 24px 0 0 0;
}
.reasons-grid span:nth-child(3) {
    border-radius: 0 24px 0 0;
}
.reasons-grid span:nth-child(4) {
    border-radius: 0 0 0 24px;
}
.reasons-grid span:nth-child(6) {
    border-radius: 0 0 24px 0;
}*/
.reasons-grid .icon{
    color: #fff;
    font-size: 35px;
    padding: 20px;
    border-radius: 20px;
    width: 35px;
    background: var(--main-gradient);
    display: flex;  
    align-items: center;
    justify-content: center;
}
/*.details:not(:first-child) .icon {
    background: var(--main-gradient);
}*/
.reasons-grid p:nth-of-type(1) {
    font: 600 24px "Raleway", sans-serif;
    color: #fff;
}
.reasons-grid p:nth-of-type(2) {
    font: 300 16px/26px "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.8)
}
/*.reasons-grid .details:hover {
    background: url("reasons-background.svg") center;
}
.reasons-grid .details:hover .icon {
    background-color: #1054F3;
}*/

/*topic-list*/

.topic-list {
    display: flex;
    justify-content: start;
    /*height: 1200px;*/
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.topic-list h2, .reasons h2 {
    width: min(95%, 800px);
}
.topic-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(3, 280px);
    gap: 30px;
    
}
.topic-list .block {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    transition: transform .2s linear;
}
.topic-list .block:hover {
    transform: translateY(-10px);
}
.topic-list .block:nth-child(1) {
    background: linear-gradient(172.45deg, rgba(255, 255, 255, 0.092) -10.97%, rgba(255, 255, 255, 0) 112.1%);
    box-shadow: inset 0px 4px 17.6px rgba(255, 255, 255, 0.06);
}

.description-block {
    display: flex;
    align-items: center;
    gap: 10px;
    font: 300 clamp(10px, 4vw, 16px) "Inter", sans-serif;
    color: #fff
}

.description-block span {
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.description-block .active {
    background: var(--main-gradient);
}
.description-block .non-active {
    background: var(--main-gradient);
    box-shadow: inset 0px 4px 12.7px rgba(255, 255, 255, 0.25);
}
.topic-name {
    font: 600 clamp(18px, 4vw, 24px)/26px "Inter", sans-serif;
    color: #fff
}

.topic-description {
    font: 300 clamp(10px, 4vw, 16px)/26px "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

.topic-button {
    border-radius: 12px;
    font: 500 16px "Plus Jakarta Sans", sans-serif;
    padding: 15px 20px;
    text-align: center;
    width: 50px;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.topic-button.primary {
    background: var(--main-gradient);
    color: #111;
    font-weight: 700;
}
.topic-button.primary::before {
    content: "";
    position: absolute;
    background: url("drawn.svg") no-repeat center/cover;
    object-fit: cover;
    width: 400px;
    height: 95px;
    transform:  scale(0.6) translateY(-20px);
}
.topic-button.secondary {
    background: linear-gradient(172.45deg, rgba(255, 255, 255, 0.092) -10.97%, rgba(255, 255, 255, 0) 112.1%);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.topic-list h4 {
    font: 600 clamp(22px, 4vw, 32px)/26px "Raleway", sans-serif;
    color: #fff;
    width: min(95%, 800px);
    /*width: 800px;*/
    text-align: center;
}

/*principle*/
/*principle*/
/*principle*/

.principle {
   /* height: 700px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
}
.principle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: url("dot-grid.svg") center;
    z-index: -1;
    opacity: 0.1
}
.principle-description {
    text-align: center;
}
.principle p {
    font: 400 clamp(15px, 4vw, 20px)/26px "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.8)
}
.principle h2 {
    font: 600 clamp(25px, 4vw, 56px)/100px "Raleway", sans-serif;
    color: #fff;
    width: min(95%,800px);
    text-align: center;
    margin: 0 auto;
}
.principle span {
    padding: 10px 20px;
    position: relative;
    color: #111;
    font-weight: 700;
}
.principle h2 span::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--main-gradient);
    z-index: -1;
    transform: rotate(1.84deg);
}
.principle-blocks {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    place-items: center;
    /*border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 24px;*/
    gap: 15px;
    margin: 0 auto;
}
.principle-blocks article:hover {
    transform: scale(1.01);
}
.principle-blocks span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 50px;
    border-radius: 50px;
    font: 600 26px "Raleway", sans-serif;
    background-color: #1054F3;
    color: #fcfcfc;
    position: relative;
}
.principle-blocks article {
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #141414;
    /*box-shadow: inset 0px 4px 17.6px rgba(255, 255, 255, 0.06);*/
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s linear;
}
.circle:hover::before {
    opacity: 1;
  }
  .circle::before,
  .circle::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  .circle::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(92, 241, 164, 0.05),
      /*rgba(16, 84, 243, 0.4),*/
      transparent 40%
    );
    z-index: 3;
  }
  
  .circle::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.9),
      transparent 40%
    );
    z-index: 1;
  }
.principle-blocks h4 {
    font: 700 24px/24px "Inter", sans-serif;
    color: #fff
}
.principle-blocks p {
    font: 400 14px/24px "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}


/*purchase*/
/*purchase*/
/*purchase*/

.purchase {
    /*height: 900px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    z-index:999
}
/*.purchase::before {
    content: "";
    position: absolute;
    background: url(https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center/cover;
    inset: 0;
    z-index: -1;
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}*/
.purchase .purchase-description {
    font: 300 clamp(15px, 4vw, 20px)/50px "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    width: min(95%, 1200px);
    text-align: center;
}
.purchase h2 {
    font: 600 clamp(30px, 4vw, 48px) "Raleway", sans-serif;
    color: #fff;
    width: min(95%, 1200px);
    text-align: center;
}

.prising {
    display: flex;
    flex-direction: column;
    background: linear-gradient(172.45deg, rgba(255, 255, 255, 0.092) -10.97%, rgba(255, 255, 255, 0) 112.1%);
    color: var(--main-white);
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    width: 500px;
    gap: 20px;
}

.price-block, .price {
    display: flex;
    align-items: center;
}
.price {
    column-gap: 10px;
}
.actual {
    align-self: start;
    font: 300 24px "Raleway", sans-serif;
    /*color: rgba(255, 255, 255, 0.50);*/
    color: #91949B;
    text-decoration: line-through;
}
.discount {
    font: 600 56px "Raleway", sans-serif;
}
.price-block a {
    margin-left: auto;
    font: 600 16px "Inter", sans-serif;
    color: var(--main-dark);
    text-decoration: none;
    background: var(--main-gradient);
    padding: 8px 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
}
.prising-description {
    display: flex;
    align-items: center;
}
.price-heading {
    font: 600 20px "Raleway", sans-serif;
}
.price-main {
    font: 300 14px "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    width: min(95%,400px);
}
.prising-description img {
    margin-left: auto;
}
.price-list p {
    display: flex;
    align-items: center;
    font: 600 16px "Inter", sans-serif;
    width: 400px;
}

.price-list span {
    display: flex;
    column-gap: 10px;
}

.price-list span + span {
    margin-top: 20px;
}
.prising button {
    color: #111;
    font: 700 16px "Plus Jakarta Sans", sans-serif;
    background: var(--main-gradient);
    outline: none;
    border: none;
    border-radius: 16px;
    height: 50px;
    /*animation: gradient 15s ease infinite;*/
    position: relative;
}
.prising button::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--main-gradient);
    z-index: -1;
    transform: scale(1.02);
    filter: blur(20px);
    border-radius: 20px;
    opacity: 0.2
}
.prising button i {
    transform: rotate(0);
    transition: all 0.2s ease;
}
.prising button:hover i {
    transform: rotate(-45deg);
}
/*@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/


/*faq*/
/*faq*/
/*faq*/


.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: min(85%,1200px);
    margin: 0 auto;
}

.faq .faq-description {
    font: 300 20px/50px "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 50px;
}

.faq h2 {
    font: 600 clamp(30px, 4vw, 48px) "Raleway", sans-serif;
    color: #fff;
    width: min(100%,1200px);
    text-align: center;
}

.accordion {
    width: min(95%, 1100px);
    display: flex;
    flex-direction: column;
    /*background-color: rgba(0, 55, 185, 0.1);*/
    transition: .1s background-color linear;
}
/*.accordion:hover {
    background-color: rgba(255, 255, 255, 0.05);
}*/
.accordion__question {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 0;
    display: flex;
    align-items: center;
    user-select: none;
}
.accordion:last-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.accordion__question img {
    margin-left: auto;

    color: #fff;
    font-size: 30px;
}
.accordion:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.accordion__question p {
    font: 600 20px "Raleway", sans-serif;
    color: #fff;
}

.accordion__answer p {
    font: 300 18px/26px "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 15px;
}

.accordion__answer {
    display: none;
}

.accordion__question.active + .accordion__answer {
    display: block;
    transition: 2s;
}
.accordion__question.active img {
    transform: rotate(180deg);
}

.faq a {
    text-decoration: none;
    color: #fff;
    font: 500 18px "Plus Jakarta Sans", sans-serif;
    background-color: #1E293A;
    padding: 15px 20px;
    border-radius: 15px;
    transition: all .2s linear;
    margin-top: 25px
}
.faq a:hover {
    background-color: #1054F3;
    color: #fff
}

.mail {
    padding: 50px 0;
}
.mail article {
    width: min(80%,700px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
    flex-direction: column;
    background: linear-gradient(172.45deg, rgba(255, 255, 255, 0.092) -10.97%, rgba(255, 255, 255, 0) 112.1%);
    text-align: center;
    gap: 20px;
    padding: 45px 50px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2)
}
.mail a {
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: 600;
    margin: 0 auto;
}
.mail h2 {
    font: 700 clamp(25px, 4vw, 50px) "Plus Jakarta Sans", sans-serif;
}
.mail p, .mail span {
    font: 400 clamp(15px, 4vw, 20px) "Plus Jakarta Sans", sans-serif;
    width: min(95%,1200px);
}
.mail span {
    display: flex;
    align-items: center;
    gap: 20px;
}
.mail span::before, .mail span::after {
    content: "";
    height: 1px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    margin: 0 auto;
}
.mail-links {
    display: flex;
    gap: 30px;
    font-size: 30px;
    margin: 0 auto;
}
svg path {
    fill: #888888
}
 svg:hover path {
    /*fill: url(#MyGradient);*/
    fill: #9EFB66;
    transition: all .1s ease-in;
}
/*.mail-links img {
    width: 35px;
    height: 35px;
}*/
/*footer*/
/*footer*/
/*footer*/

footer {
    background-color: #111;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-links {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.footer-links .buttons {
    margin-left: auto;
}
footer ul li a {
    font: 300 16px "Plus Jakarta Sans", sans-serif;
    color: #fff;
    text-decoration: none;
}
footer ul {
    margin: 2% auto;
    position: relative;
}
/*footer ul::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: -25px;
}*/
.footer-line {
    display: block;
    margin: 1% auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
footer ul li a {
    padding: 0;
    text-decoration: none;
}
footer .footer-description {
    margin: 0 auto;
    font: 300 14px/23px "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.50);
    padding-bottom: 30px;
}
footer .logo {
    font: 600 20px "Raleway", sans-serif;
}
.buttons li {
    display: flex;
    column-gap: 32px
}

.introduction, .reasons, .topic-list, .principle, .purchase, .faq, footer {
    padding: 40px;
}

.menu {
    display: none;
}
.menu i {
    margin-right: 40px;
}
.header__mobile {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    overflow-x: hidden;
    transition: height 0.5s ease 0s;
    background-color: #111;
  }
  .menu {
    position: relative;
    z-index: 3;
    display: none;
  }
  .header__mobile-content {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    width: min(80%, 1000px);
    padding: 70px 10px 0 10px;
  }
  .header__mobile-content a {
    padding: 15px;
    text-decoration: none;
    font: 300 16px "Plus Jakarta Sans", sans-serif;
    color: #fff
  }
  .menu-active {
    height: 250px;
    transition: all 0.3s ease-in;
    transition-delay: 0.25s;
  }
  .test 
  .macbook{
    position: relative; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 90vh; 
    z-index: 1000; 
    text-align: center; 
    display: flex; 
    background-color: #fff;
    justify-content: center; 
    align-items: center; 
    z-index: 0; 
    flex-direction: column;}
.macbook .mac-bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #222; display: flex;}
.macbook .mac-bg img{filter: blur(0W.5px);  width: 100%; height: 100%; object-fit: cover; object-position: center; transform: scale(1.3); }
.mockup {
    display: inline-block;
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 0;
    perspective: 2400px;
    perspective-origin: 50% 100%;
    opacity: 0;
    transition: 500ms opacity;
}

.mockup.loaded {
    opacity: 1;
}
.mockup .part .top,
.mockup .part .bottom {
    position: absolute;
    top: 0;
    left: 0;
}
.mockup .part.top {
    transform: translate3d(0, 0, 0) rotateX(-90deg);
}
.mockup .part.top img:first-of-type{filter: brightness(0.85)}
.mockup .part.bottom img:last-of-type{filter: brightness(0.5)}

.mockup .part {
    display: inline-block;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    /*  transition: 900ms;*/
}

.mockup.opened .part .top {
    transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
}
.macbook-background {
    background: url("cover.png") no-repeat center/cover;
    top:0;
    height: 100%;
    z-index: 999;
    left: 0;
    position: absolute; 
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0;
    display: flex; justify-content: center; align-items: center;
    transform-origin: 100% 0%;
    font-family: 'Trench Thin';
}

.mockup .part .top {
    transform-origin: 50% 0;
    transform: translate3d(0, 0, -11px) rotateX(90deg);
    
}


.mockup img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
}

.mockup .part .cover {
    position: relative;
}

.mockup .screen{
    display: flex;
    position: absolute;
    top: 5%;
    left: 3%;
    right: 3%;
    /*  width: 94%;*/
    border-radius: 6px;
    background-color: #f00;
    /*  backface-visibility: hidden;*/
    background-color: #fff; overflow: hidden;
    z-index: 10; height: 89%;
    color: #333; font-size: 20px; font-weight: 600;
    display: flex;
    object-fit: cover;
}


.mockup .part.bottom {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0) rotateX(-90deg);
}

.mockup .part .bottom {
    transform-origin: 50% 0;
    transform: translate3d(0,0,0) rotateX(90deg);
}

.free-preview {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.free-preview h2 {
    font: 600 clamp(20px, 4vw, 40px) "Raleway", sans-serif;
    text-align: center;
    color: #fff;
    margin: 40px 0;
}
.box-container {
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(4,100px);
    width: 100%;
    gap: 50px;
  }
  
  .box, .glow {
    font: 600 25px "Raleway", sans-serif;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100px;
    width: 300px;*/
    margin: 10px;
    border-radius: 15px;
    text-align: center;
  }
  .box {
    background-color: #303030;
    color: #fcfcfc;
    opacity: 0.9;
    font-weight: 500
  }
  .glow {
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
    color: #111;
    position: relative;
    z-index: 0
  }
  .glow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: url("dust.png") no-repeat center/cover;
    z-index: 3
  }
  .glow::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
    transform: scale(1.02);
    filter: blur(20px);
    z-index: -1;
    opacity: 0.1
  }
  /*.glow:nth-child(1) {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #fff
  }
  .glow:nth-child(3) {
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  }*/
@media screen and (max-width: 1024px) {
    nav {
        padding: 0;
    }
    .logo img {
        width: 50px;
        height: 50px;
    }
    .introduction {
        height: 35vh
    }
    body::before {
        height: 40vh;
    }
    .reviews {
        transform: scale(0.8);
    }
    .reasons-grid {
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(3, 300px);
    }
    .topic-list-grid {
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: repeat(3, 350px);
    }
    .principle-blocks {
        grid-template-columns: repeat(2, 400px);
        grid-template-areas: "a b"
                              "c d";
        place-items: center;
        /*border: 1px solid rgba(255, 255, 255, 0.2);*/
        border-radius: 24px
    }
}

@media screen and (max-width: 480px) {
    .introduction, .reasons, .topic-list, .principle, .purchase, .faq, footer {
        padding: 20px;
    }
    .main-list, header .buttons.main {
        display: none;
    }
    header {
        padding: 10px;
    }
    .mobile-purchase {
        display: none;
    }
    .introduction .point {
        width: 7px;
        height: 7px;
        margin-left: 5px;
    }
    .logo img {
        width: 40px;
        height: 40px;
    }
    .menu {
        display: block;
    }
    .reviews figure {
        padding: 0;
        margin-top: 5px;
    }
    .reviews {
        background-color: transparent;
    }
    .introduction figure::after {
        display: none;
    }
    .introduction {
        gap: 5px;
        height: auto;
    }
    .introduction h3 {
        font: 300 15px/22px "Inter", sans-serif;
        width: 350px;
    }
    .buttons-block button {
        width: 90%
    }
    .buttons-block.mobile button{
        width: 40%
    }
    .closeIcon.material-icons {
        display: none;
      }
      .menuIcon.material-icons {
        display: block;
      }
      .reasons-grid {
        grid-template-columns: 300px;
        grid-template-rows: 230px;
    }
    .topic-list-grid {
        grid-template-columns: 350px;
        grid-template-rows: 300px;
    }
    .reasons {
        gap: 15px;
    }
    .reasons-grid span {
        padding: 20px;
    }
    .principle-blocks {
        grid-template-columns: 330px;
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d";
    }
    .principle h2 {
        line-height: 30px;
    }
    .prising {
        display: flex;
        flex-direction: column;
        background: linear-gradient(172.45deg, rgba(255, 255, 255, 0.092) -10.97%, rgba(255, 255, 255, 0) 112.1%);
        color: #fff;
        padding: 30px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 24px;
        width: 250px;
        gap: 20px;
    }
    .prising figure img, .price-block a {
        display: none;
    }
    .mail article {
        padding: 25px 15px;
        gap: 15px;
    }
    footer ul {
        gap: 15px 30px;
    }
    nav {
        position: fixed;
        width: 100%;
        z-index: 9999;
        background-color: transparent;
        padding: 10px;
        top: 0;
        left: 0;
        backdrop-filter: blur(10px);
        height: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .line {
        /*margin: 10% auto;
        position: absolute;*/
        display: none;
    }
    .buttons-block.mobile {
        width: 90%;
        padding-left: 25px;
    }
    .topic-button.primary::before {
        display: none;
    }
    .box-container {
        grid-template-columns: repeat(2,180px);
        grid-auto-rows: 100px;
        width: 100%;
        gap: 0;
        font-size: 20px;
        margin: 0 auto;
      }
      .box, .glow {
        font: 600 18px "Raleway", sans-serif;
      }
}